# binaries / debug binaries
bin/
camus
*.test
debug.*

# camus results
*.png
*.csv
*.log

# profiler files
*.prof
*.pprof

# work dir
scratch/

# compiled markdowns / other docs
*.pdf

# if anyone asks, it wasn't me
.vscode
AGENTS.md
